body {
  margin: 2em;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.3;
  color: #bbb;
  background-color: black;
}
input {
  color: #ddd;
  background-color: black;
}
.button {
  background-color:#1c2694;
  border-radius:12px;
  border:0;
  cursor:pointer;
  color:#ffffff;
  font-size: 17px;
  padding:8px 16px;
  text-decoration:none;
}
.button:hover {
  background-color:#2c3faa;
}
a { color: #4050b0; }
a:visited { color: #843090; }
h1,h2,h2 { line-height: 1.1 }
.stats { display: inline-block; margin-right: 20px }
.error { color:#e02020 }
.stats input { width: 50px }
#num_trials { width: 70px }
